# Demonstrate More Functionality with Data in Jupyter Notebook

## Import some of the old data from last lesson

In [1]:
from data_utils import read_csv_rows, columnar

filename: str = "../data/weather.csv"
data: list[dict[str, str]] = read_csv_rows(filename)
data

[{'Day': 'Monday', 'Low': '56', 'High': '75'},
 {'Day': 'Tuesday', 'Low': '53', 'High': '72'},
 {'Day': 'Wednesday', 'Low': '50', 'High': '70'}]

## Data in Column Oriented Format

In [2]:
from data_utils import columnar

column_data: dict[str, list[str]] = columnar(data)
column_data

{'Day': ['Monday', 'Tuesday', 'Wednesday'],
 'Low': ['56', '53', '50'],
 'High': ['75', '72', '70']}

## Printing Data as Table

In [3]:
from tabulate import tabulate

tabulate(column_data, column_data.keys(), "html")

'<table>\n<thead>\n<tr><th>Day      </th><th style="text-align: right;">  Low</th><th style="text-align: right;">  High</th></tr>\n</thead>\n<tbody>\n<tr><td>Monday   </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>Tuesday  </td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n<tr><td>Wednesday</td><td style="text-align: right;">   50</td><td style="text-align: right;">    70</td></tr>\n</tbody>\n</table>'

## Get table of just Monday and Tuesday Data

In [4]:
smaller_data_set: dict[str, list[str]] = {}

for key in column_data:
    #make an entry with "key" as they key 
    #and the first two elements of the list as the values
    sub_list: list[str] = []
    data_to_get: list[str] = column_data[key]
    idx: int = 0
    
    while idx < 2:
        sub_list.append(data_to_get[idx])
        idx += 1 
    smaller_data_set[key] = sub_list

tabulate(smaller_data_set, smaller_data_set.keys(), "html")

'<table>\n<thead>\n<tr><th>Day    </th><th style="text-align: right;">  Low</th><th style="text-align: right;">  High</th></tr>\n</thead>\n<tbody>\n<tr><td>Monday </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>Tuesday</td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n</tbody>\n</table>'

## Get Monday and Tuesday, but with original data

In [6]:
idx: int = 0
smaller_data_set_row_oriented = []
while idx < 2:
    smaller_data_set_row_oriented.append(data[idx])
    idx += 1
smaller_data_set_row_oriented

smaller_data_set_2 = columnar(smaller_data_set_row_oriented)
tabulate(smaller_data_set_2, smaller_data_set_2.keys(), "html")

'<table>\n<thead>\n<tr><th>Day    </th><th style="text-align: right;">  Low</th><th style="text-align: right;">  High</th></tr>\n</thead>\n<tbody>\n<tr><td>Monday </td><td style="text-align: right;">   56</td><td style="text-align: right;">    75</td></tr>\n<tr><td>Tuesday</td><td style="text-align: right;">   53</td><td style="text-align: right;">    72</td></tr>\n</tbody>\n</table>'